.vscode/.ropeproject
.codelite/
.cmaketools.json
*.tags
*.dll
#iowow.project
#iowow.workspace
build/
cmake-build*
.cmake_dirty
Makefile
Testing/
compile_commands.json
iowow.mk
.tern*
.idea/
*.iml
*.dat
*.fsm
*.db
